

.cookies-popup h1,
.cookies-popup h2,
.cookies-popup h3,
.cookies-popup h4
{
    font-family: HomeFontBold;
    margin: 0px;
    padding: 0px;
}
.cookies-popup p {
    font-family: SourceSans;
    margin: 0px;
    padding: 0px;
}

.cookies-popup .i {
    padding: 1rem;
    
    font-family: SourceSans;
    background-color: rgb(233, 233, 243);
    border: solid 1px rgb(220, 225, 235);
    border-radius: 0.5rem;
}