

.character-creation__stats-container {
    display: flex;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    gap: 25px;
}

.character-creation__stat {
    width: 75px;
    height: 75px;

    border: solid var(--dark-color) 2px;
    border-radius: 3px;
    padding: 2px;
    background-color: var(--medium-color);

    color: white;
    font-size: 2em;
    text-align: center;
    line-height: 65px;
}


/* ---------- CC Helper: Stat Inputs ---------- */

.character-creation__stats-container .small-stat {
    display: block;
    max-width: 180px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: none !important;   /* We change the border from overall encompassing to each of the name and value; It's important because the CSS here will override the inline style of the element. */
}

.character-creation__stats-container .small-stat__name {
    border: none;
}
.character-creation__stats-container .small-stat__value {
    padding: 3px;
    border: none;
    border-left: solid 2px;
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(230, 230, 230);
}
.cc-input {
    border: none;
    color: var(--dark-color);
    font-size: 1em;
    line-height: 1em;
    max-width: 150px;
    height: 70px;
    text-align: center;
}




/* ---------- CC Helper: Selects ---------- */

.cc-label {
    display: block;
    font-size: 1.25em;
}
.cc-select {
    margin-top: 12px;
    padding: var(--small-stat-padding-v);
    padding-left: calc(var(--small-stat-padding-h) - 2px);
    padding-right: var(--small-stat-padding-h);

    width: 100%;

    font-family: TitleFont;
    letter-spacing: 0.075em;
    font-size: 1em;
    color: white;

    border: solid var(--darker-color) 2px;
    border-radius: 0px;
    background-color: var(--dark-color);
}

.stat-notes {
    display: block;
    font-style: italic;
    font-size: 0.8em;
    color: var(--spell-notes-color);
    margin-top: calc(var(--element-padding) / 5);
    margin-bottom: 0px;
}

/* ---------- CC Helper: Error ---------- */
.form-error {
    width: 80%;
    margin: auto;
    padding: 16px;
    background-color: rgb(255, 217, 217);
    color: rgb(182, 52, 52);
    border-radius: 4px;
}