
:root {
    --image-size: 106px;
}

.ccc-image-holder {
    position: relative;
    width: var(--image-size);
    height: var(--image-size);
    border: solid black 2px;
    overflow: hidden;
}
.ccc-image-holder img {
    margin-left: 2px;
    margin-top: 2px;
    width: calc(var(--image-size) - 8px);
}
.ccc-image-holder .no-spell-spinner {
    width: calc(var(--image-size) * 2);
    height: calc(var(--image-size) * 2);
    left: calc(-0.5 * var(--image-size));
    top: calc(-0.5 * var(--image-size));
}





#Character-Builder .text-input {
    font-size: var(--h3-size);
    padding: 6px;
    min-width: 225px;
    max-width: 30vw;
}

#Character-Builder label {
    font-size: var(--h3-size);
    font-family: HomeFont;
}







#Character-Builder .hero-button {
    min-width: 275px;
    max-width: 35vw;
}





.stats-selector {
    gap: 1rem;
}
.stat-input {
    width: 6rem;
    height: 6rem;
    position: relative;
}
.stat-input input {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
}
.stat-input .input-name {
    width: 100%;
    
    position: absolute;
    bottom: 0.25rem;
    
    font-family: HomeFont;
    text-align: center;
    font-size: 1rem;
    color: gray;
    pointer-events: none;
}