
.floating-text {
    position: absolute;

    font-family: HomeFont;
    font-size: 1.25em;
    color: var(--orange-color);
    text-align: center;
    
    min-width: 200px;

    transform: translateX(0px) translateY(0px) rotate(0deg);
    opacity: 1;
    /* transition: transform 1s ease-out, opacity 1s linear; */
}
.floating-text--animating {
    animation-name: Floating;
    animation-duration: 0.8s;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

@keyframes Floating {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(-65px);
        opacity: 0;
    }
}