
:root {
    --db-menu-font-size: 1.15rem;
}

.my-account * {
    font-family: SourceSans;
}
.my-account h1,
.my-account h2,
.my-account h3,
.my-account h4 {
    font-family: HomeFont;
}
.my-account p {
    margin: 0px;
    padding: 0px;
}

.dashboard-menu {
    background-color: #111111;
    min-height: 100vh;
    min-width: 255px;
}

.dashboard-menu-item {
    --h: calc(var(--db-menu-font-size) + 2rem);
    height: var(--h);
    font-size: var(--db-menu-font-size);
    line-height: calc(var(--h) / 2 - 4px);
    border-radius: 0.5rem;
}
.dashboard-menu-item.active {
    background-color: var(--theme-color);
}

.dashboard-icon-box {
    border: solid gray 1px;
    padding: 1px;
    height: 100%;
}

.dashboard-icon-box img {
    height: 100%;
}


.dashboard-panel {
    padding: 1rem;
    border: solid rgb(192, 192, 192) 1px;
    border-radius: 0.5rem;
}