.two-columns {
    width: 100%;
    min-height: 300px;
    /* border: solid red 3px; */

    display: flex;
    flex-direction: row;
}
.column {
    display: relative;
    flex: 1;
    min-height: 300px;
    /* border: solid green 3px; */
}
.column:nth-child(1) {
    padding-right: calc(var(--page-padding) / 2);
}
.column:nth-child(2) {
    padding-left: calc(var(--page-padding) / 2);
}

.class-image {
    position: absolute;
    margin-top: -100px;
    margin-left: 50px;
    z-index: -0.5;
}
  