#Page {
    max-width: 60%;
    min-width: 800px;
    min-height: 100vh;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: var(--page-padding);
  
    background-image: url('images/paper-desaturated.png');
  
    border-image: url('images/borders-grayscale.png') 49 stretch;
    border-width: 20px;
    border-style: solid;
    border-color: transparent;
}

