
.popup {
    display: relative;
    position: fixed;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-popup);
}

.popup-content {
    background-color: white;
    border-radius: 1.5rem;
    padding: 2rem;
}

@media (orientation: landscape) {
    .popup-content {
        width: 70vw;
        max-height: 80vh;
        max-width: 740px;
    }
}
@media (orientation: portrait) {
    .popup-content {
        width: 90vw;
        max-height: 90vh;
    }
}