.page-h3 h3 {
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: 0.05rem;
    font-family: TitleFont;
    color: var(--dark-color);
    margin-bottom: var(--element-padding);
    margin-top: 0px;
}
