

.page-h3-pdf {
    margin-bottom: 4pt;

    position: relative;
    z-index: 1;

    width: 100%;

    padding: 2px;
}
* + .page-h3-pdf {  /* page-h3-pdf following any other element */
    
}

.page-h3-pdf h3 {
    font-size: var(--h3-pdf-size);
    text-align: left;
    color: var(--theme-color-darker);
    
    padding: 0px;
    margin: 0px;
}
