
.tab-names {
    display: flex;
    align-items: end;

    padding-left: 4rem;

    border-bottom: solid black 1px;
}

.tab-names h4 {
    font-family: HomeFont;
    font-weight: normal;
    
    line-height: 1rem;
    font-size: 1rem;
    height: auto;
    
    margin: 0px;
    margin-left: -1px;

    border: solid black 1px;
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;

    transition: padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;
}
.tab-names h4:hover {
    cursor: pointer;
    padding-bottom: 1.25rem;
}

.tab-names h4.selected {
    border-bottom: solid white 1px;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: -1px;
    padding-bottom: 1.25rem;
}


.tab-content .tab.unselected {
    display: none;
}
.tab-content .tab.selected {
    display: unset;
}