
.plus-minus {
    --size: calc(var(--stat-selector-size) - 3rem);
    --margin: 1.5rem;

    padding: 2px;
    
    height: var(--size);
    width: var(--size);
    margin-top: var(--margin);

    cursor: pointer;
}
.plus-minus > div {
    height: 100%;
    width: 100%;

    text-align: center;
    font-size: 2rem;
    line-height: calc(var(--size) - 0.5rem);
    font-family: HomeFont;
    color: var(--theme-color-1-dark);

    border: solid gray 1px;
    border-radius: 4px;
}