
:root {
    --image-size: 106px;

    --ccc-unit: calc(var(--page-content-width) / 60);

    --stat-selector-size: calc(10.5 * var(--ccc-unit));
    --stats-gap: calc(2 * var(--ccc-unit));
    --stats-info-height: calc(var(--ccc-unit) * 3);
    --stats-info-width: var(--stat-selector-size);

    --columns-remaining-space: calc(var(--page-content-width) - var(--stat-selector-size) - var(--stats-gap));
    --columns-2-3-real-space: calc(var(--columns-remaining-space) - var(--stats-gap));
    
    --attributes-size: calc(var(--stat-selector-size));
    
    --column-1-width: var(--stat-selector-size);
    --column-2-width: calc(var(--attributes-size) * 2 + var(--stats-gap));
    --column-3-width: calc(
        var(--page-content-width)
        - var(--column-1-width)
        - var(--stats-gap)
        - var(--column-2-width)
        - var(--stats-gap)
    );
    --column-3-flex-direction: column;

    --combat-notes-width: calc(var(--attributes-size) * 2 + var(--stats-gap));
    --combat-notes-height: calc(var(--attributes-size) * 2 + var(--stats-gap) * 2 + var(--stats-info-height));

    --ccc-portrait-size: calc(var(--column-3-width));
    --ccc-portrait-height: calc(var(--attributes-size) * 2 + var(--stats-gap));
    --ccc-description-width: var(--column-3-width);
    --ccc-description-height: var(--combat-notes-height);

    --inventory-width: 66%;
}
@media (orientation: portrait) {    /* In portrait, column 3 is not displayed on the right, but at top */
    :root {


        --column-3-width: var(--page-content-width);
        --column-3-flex-direction: row;

        --ccc-portrait-size: calc((var(--column-3-width) - var(--stats-gap)) / 2);
        --ccc-portrait-height: var(--ccc-portrait-size);
        --ccc-description-width: var(--ccc-portrait-size);
        --ccc-description-height: var(--ccc-portrait-size);

        --column-2-width: var(--page-content-width);
        --stat-selector-size: calc((var(--column-2-width) - var(--stats-gap) * 2) / 3);

        --inventory-width: 100%;
    }
}

.ccc-image-holder {
    position: relative;
    width: var(--image-size);
    height: var(--image-size);
    border: solid black 2px;
    overflow: hidden;
}
.ccc-image-holder img {
    margin-left: 2px;
    margin-top: 2px;
    width: calc(var(--image-size) - 8px);
    object-fit: cover;
}
.ccc-image-holder .non-spell-spinner {
    width: calc(var(--image-size) * 2);
    height: calc(var(--image-size) * 2);
    left: calc(-0.5 * var(--image-size));
    top: calc(-0.5 * var(--image-size));
}





#Character-Builder input:not([type="image" i], [type="range" i], [type="checkbox" i], [type="radio" i]) {
    min-width: 225px;
    max-width: 30vw;
}


#Character-Builder label {
    font-size: var(--h3-size);
    font-family: HomeFont;
}







#Character-Builder .hero-button {
    min-width: 275px;
    max-width: 35vw;
}





.stats-selector {
    display: flex;
    gap: var(--stats-gap);
}
.input-description {
    position: absolute;
    width: 100%;
    bottom: 3px;

    font-family: HomeFont;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;

    color: gray;
    pointer-events: none;
    z-index: var(--z-overlay);
}



#My-Character .stats-info-display {
    width: var(--stats-info-width);
    height: var(--stats-info-height);
    border: solid gray 1px;
    border-radius: 3px;

    font-family: HomeFont;
    text-align: center;
    font-size: 1rem;
    line-height: var(--stats-info-height);
}
#My-Character .wrapper {
    padding: 2px;

    border: solid black 2px;
    border-radius: 6px;

    overflow: hidden;
}
#My-Character .wrapped-child {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
#My-Character .column-1 {
    
}
#My-Character .column-1 {
    
}
#My-Character .column-3 {
    display: flex;
    flex-direction: var(--column-3-flex-direction);

    width: var(--column-3-width);
    gap: var(--stats-gap);
}

#My-Character .column-1-width {
    width: var(--stat-selector-size);
}
#My-Character .column-2-width {
    width: var(--column-2-width);
}
#My-Character .column-3-width {
    width: var(--column-3-width);
}
#My-Character .portrait-wrapper {
    width: var(--ccc-portrait-size);
    height: var(--ccc-portrait-height);
}
#My-Character .description-wrapper {
    width: var(--ccc-description-width);
    /* height: calc(var(--stat-selector-size) * 2 + var(--stats-gap)); */
    height: var(--ccc-description-height);
}

#My-Character .combat-notes-wrapper {
    width: var(--combat-notes-width);
    height: var(--combat-notes-height);
}


.extra {
    width: 100%;
    font-family: TextFont;
    padding: 0.5rem;

    border: solid 1px gray;
    border-radius: 3px;
}



.inventory-wrapper {
    width: var(--inventory-width) !important;
    min-height: 15rem;
}
.inventory {
    width: 100%;
    height: 100%;
}


.gold-wrapper {
    position: absolute;
    bottom: 3px;
    right: 3px;

    width: 25%;
    aspect-ratio: 1/1;

    border-radius: 99rem !important;
}
.gold {
    font-size: 2rem;
    font-family: HomeFont;
    text-align: center;
    line-height: calc(var(--stat-selector-size) - 4px);

    width: 100%;
    height: 100%;

    border: solid 1px var(--orange-color);
    border-radius: 50%;

    /* To override the defaults from App.css */
    min-width: unset !important;
    max-width: unset !important;
}
@media (max-width: 575px) {
    .gold {
        font-size: 1.25rem;
    }
}


.ccc-combat-item {
    cursor: pointer;
}
.ccc-combat-item:hover .minus {
    opacity: 1;
}
.minus {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    
    opacity: 0.25;
    color: red;
    font-weight: normal;
    font-size: 0.8em;
}


.mana-bar {
    position: relative;
    height: 100%;

    border-radius: 3px;

    background-color: rgb(145, 162, 169);
}
.mana-bar .filling {
    position: absolute;
    height: 100%;
    width: 55px;
    
    padding: 0px;
    top: 0px;
    left: 0px;

    border-radius: 3px;


    background-color: rgb(15, 137, 189);
}
.mana-bar .number {
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
    
    z-index: var(--z-overlay);

    font-size: 1.5rem;
    line-height: 2rem;
    font-family: HomeFont;
    text-align: center;

    margin: 0px;
    padding: 0px;
    width: 100%;

    position: absolute;
    left: 0px;
    bottom: 0rem;
    
}




.skill-bonus {
    width: 100%;
    border: solid 1px gray;
    border-radius: 3px;
    display: flex;
}
.skill-bonus .left {
    padding: 0.5rem;
    padding-right: 0px;
    width: 80%;
}
.skill-bonus .right {
    padding: 0.5rem;
    text-align: center;
    width: 20%;
    
    border-left: solid 1px gray;
}
