
@keyframes VariantSpinning {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.non-spell-spinner {
    position: absolute;
    z-index: var(--z-variant-spinner);

    background-image: conic-gradient(
        var(--theme-color-1-light) 0%,
        #FFFFFF00 50%,
        var(--theme-color-1-light) 50%,
        #FFFFFF00 100%
    );

    animation-name: VariantSpinning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.non-spell-icon {
    z-index: var(--z-icon);
    position: absolute;
}