:root {
    --small-stat-padding-h: 10px;
    --small-stat-padding-v: 5px;
    --small-stat-font-size: calc(var(--p-size) * 1.1);
}

.small-stat-container {
    display: block;
    margin-top: 0px;
}
.small-stat {
    width: auto;
    display: inline-flex;   /* Does not take parent width and rescales with content size */
}
.small-stat--column { flex-direction: column; }
.small-stat--row    { flex-direction: row; }

.small-stat--normal { border: solid var(--darker-color) 2px; }
.small-stat--blue   { border: solid var(--darker-blue) 2px; }
.small-stat__name--normal { background-color: var(--dark-color); }
.small-stat__name--blue   { background-color: var(--dark-blue); }


.small-stat div {   /* Affects both __name and __value */
    padding: var(--small-stat-padding-v);
    padding-left: var(--small-stat-padding-h);
    padding-right: var(--small-stat-padding-h);
}
.small-stat__name {
    letter-spacing: 0.075em;
    font-family: TitleFont;
    font-size: var(--small-stat-font-size);
    color: white;

}
.small-stat__value {
    margin: 0px;
    background-color: white;
    color: var(--dark-color);
    font-size: var(--small-stat-font-size);
    line-height: calc(var(--small-stat-font-size) * 1.1);
}

/* For List variant of SmallStat */
.small-stat__value--list {
    padding: 0px !important;
    padding-left: 0px !important;   /* For clarity */
    padding-right: 0px !important;  /* For clarity */
}
.small-stat__value--list div {
    padding-top: 6px;
    padding-bottom: 6px;
}
.small-stat__value--list div:first-child { border-top: none; }
.small-stat__value--list--normal div { border-top: solid var(--darker-color) 2px; }
.small-stat__value--list--blue div { border-top: solid var(--dark-blue) 2px; }

.many-small-stats .small-stat--normal .small-stat__value {
    border-top: solid var(--darker-color) 2px;
}
.many-small-stats .small-stat--blue .small-stat__value {
    border-top: solid var(--dark-blue) 2px;
}