:root {
    --h1-size: 3.5rem;
    --h2-pdf-size: 2.5rem;
    --h2-size: 2rem;
    --h3-size: 1.25rem;
    --h3-pdf-size: 2rem;
    --h4-size: 1.15rem;
    --p-size: 16px;
    --text-size: 16px;
    --hero-h1-size: 4.65rem;
    --home-text-size: 1.65rem;
    
  
    --font-text: TextFont;
    --font-title: TitleFont;
    --font-home: HomeFont;
}
@media (max-width: 1366px) {
    :root {
      --hero-img-margin-left: 66.5%;
      --home-text-size: 1.4rem;
    }
}
@media (orientation: portrait), (max-width: 900px)  {
    :root {
        --h1-size: 2rem;
        --h2-size: 1.5rem;
        --h3-size: 1.25rem;
        --h4-size: 1.15rem;
        --hero-h1-size: max(7.5vw, 38px);
        --home-text-size: max(5vw, 17px);
    }
}

@font-face {
    font-family: NewTitleFont;
    src: url('fonts/Electrone/Electrone-Regular.ttf');
}
@font-face {
    font-family: HomebrewTitle;
    src: url('fonts/Booksanity/Bookinsanity.otf');
}
@font-face {
    font-family: UnknownFont;
    src: url('fonts/Unknown/Unknown.ttf');
}
/* Fonts I like
    SourceSerif4-Regular
    LinuxLibertine
    Belgrano-Regular
*/
@font-face {
    font-family: TextFont;
    /* src: url('fonts/Sabon//CrimsonText-Regular.ttf'); */
    /* src: url('fonts/TextFont/SourceSerif4-Regular.ttf'); */
    src: url('fonts/LinuxLibertine/LinLibertine_R.ttf');
}
@font-face {
    font-family: PDFFont;
    /* src: url('fonts/Sabon//CrimsonText-Regular.ttf'); */
    src: url('fonts/TextFont/SourceSerif4-Regular.ttf');
    /* src: url('fonts/LinuxLibertine/LinLibertine_R.ttf'); */
}
@font-face {
    font-family: PDFFontBold;
    /* src: url('fonts/Sabon//CrimsonText-Regular.ttf'); */
    src: url('fonts/TextFont/SourceSerif4-SemiBold.ttf');
    /* src: url('fonts/LinuxLibertine/LinLibertine_R.ttf'); */
}
@font-face {
    font-family: TextFontBold;
    src: url('fonts/LinuxLibertine/LinLibertine_RB.ttf');
}
@font-face {
    font-family: TitleFont;
    src: url('fonts/DayRoman/DAYROM__.ttf');
}
@font-face {
    font-family: StylizedFont;
    src: url('fonts/InknutAntiqua/InknutAntiqua-Light.ttf');
}
@font-face {
    font-family: HomeFont;
    src: url(fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: HomeFontBold;
    src: url(fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: LogoFont;
    src: url(fonts/Yrsa/Yrsa-Medium.ttf);
}
@font-face {
    font-family: ScriptFont;
    src: url(fonts/DancingScript/DancingScript-VariableFont_wght.ttf);
}

/* Ok Fonts | letter-spacing
    SourceSans3-Bold.ttf  0.08em-0.12em (0.15 is too much for H2) (definitely small-caps for both H2 and H3)
    RobotoCondensed-Bold 0.08em-0.12em (normal letters work fine for H3)
    SourceSans3-Medium.ttf  0.1em-0.12em (0.15 is too much for H2) (definitely small-caps for both H2 and H3)
    SofiaSansCondensed-Bold.ttf 0.15em (not bad with normal letters, but it has to have smaller letter-spacing; still prefer small-caps)
    SourceSans3-Bold.ttf
    SourceSans3-Regular.ttf
    SofiaSansCondensed-ExtraBold.ttf 0.15em
    SofiaSansCondensed-Black.ttf 0.15em
    SofiaSansCondensed-SemiBold.ttf 0.15em


    Amri-Regular
    Cardo-Regular
    CrimsonText-Regular
    TrajanPro-Bold

    Mirantz-ExtBla.ttf
    Mirantz-ExtBol.ttf
*/
@font-face {
    font-family: Sabon;
    src: url(fonts/Sabon/SourceSans3-Bold.ttf);
    /* src: url(fonts/Sabon/SourceSans3-Medium.ttf); */
    /* src: url(fonts/RobotoCondensed/RobotoCondensed-Bold.ttf); */
    /* src: url(fonts/Sabon/SofiaSansCondensed-Bold.ttf); */
}
@font-face {
    font-family: SourceSans;
    src: url(fonts/Sabon/SourceSans3-Bold.ttf);
}

.home-font {
    font-family: HomeFont;
}
.text-font {
    font-family: TextFont;
}
.logo-font {
    font-family: LogoFont;
}
.smaller-font {
    font-size: calc(var(--p-size) * 0.8);
}