:root {
    --h1-size: 76px;
    --h2-size: 33px;
    --h3-size: 23px;
    --p-size: 18px;
  
    --font-text: TextFont;
    /* --font-text: Verdana, sans-serif; */
    --font-title: TitleFont;
    --font-home: HomeFont;
}
@media (max-width: 1366px) {
    :root {
        --h1-size: 70px;
        --h2-size: 30px;
        --h3-size: 20px;
        --p-size: 16px;
    }
}
@media (orientation: portrait), (max-width: 900px)  {
    :root {
        --p-size: 4.25vw;
        --h1-size: 13vw;
        --h2-size: 7.5vw;
        --h3-size: 6vw;
    }
}

@font-face {
    font-family: TextFont;
    src: url('fonts/LinuxLibertine/LinLibertine_R.ttf');
    /* src: url('fonts/Garamond/EBGaramond-Regular.ttf'); */
}
@font-face {
    font-family: TitleFont;
    src: url('fonts/DayRoman/DAYROM__.ttf');
}
@font-face {
    font-family: StylizedFont;
    src: url('fonts/InknutAntiqua/InknutAntiqua-Light.ttf');
}
@font-face {
    font-family: HomeFont;
    src: url(fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: HomeFontBold;
    src: url(fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
}