:root {
    --h1-size: 3.75rem;
    --h2-size: 1.9rem;
    --h3-size: 1.25rem;
    --p-size: 18px;
    --text-size: 18px;
    --hero-h1-size: 4.65rem;
    --home-text-size: 1.65rem;
    
  
    --font-text: TextFont;
    --font-title: TitleFont;
    --font-home: HomeFont;
}
@media (max-width: 1366px) {
    :root {
      --hero-img-margin-left: 66.5%;
      --home-text-size: 1.4rem;
      --p-size: 17px;
      --text-size: 17px;
    }
}
@media (orientation: portrait), (max-width: 900px)  {
    :root {
        --h1-size: 2rem;
        --h2-size: 1.5rem;
        --h3-size: 1.25rem;
        --p-size: 1rem;
        --text-size: 1rem;
        --hero-h1-size: max(7.5vw, 38px);
        --home-text-size: max(5vw, 17px);
    }
}

@font-face {
    font-family: NewTitleFont;
    src: url('fonts/Electrone/Electrone-Regular.ttf');
}
@font-face {
    font-family: HomebrewTitle;
    src: url('fonts/Booksanity/Bookinsanity.otf');
}
@font-face {
    font-family: UnknownFont;
    src: url('fonts/Unknown/Unknown.ttf');
}
@font-face {
    font-family: TextFont;
    src: url('fonts/LinuxLibertine/LinLibertine_R.ttf');
}
@font-face {
    font-family: TitleFont;
    src: url('fonts/DayRoman/DAYROM__.ttf');
}
@font-face {
    font-family: StylizedFont;
    src: url('fonts/InknutAntiqua/InknutAntiqua-Light.ttf');
}
@font-face {
    font-family: HomeFont;
    src: url(fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: HomeFontBold;
    src: url(fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: LogoFont;
    src: url(fonts/Yrsa/Yrsa-Bold.ttf);
}

.home-font {
    font-family: HomeFont;
}