:root {
  --element-padding: 30px;
  --element-padding-half: calc(var(--element-padding) / 2);

  --medium-color: rgb(95, 39, 39); 
  --dark-color: rgb(68, 22, 22);
  --darker-color: rgb(48, 2, 2);

  --dark-blue: rgb(22, 22, 98);
  --darker-blue: rgb(22, 22, 58);
  --dark-green: rgb(23, 80, 0);

  --gray-color: rgb(31, 31, 31);

  --button-color: rgb(117, 10, 10); 
}

* {
  scroll-behavior: smooth;
  vertical-align: top;
  box-sizing: border-box;
}
p {
  margin-top: 0px;
  margin-bottom: var(--element-padding);
  line-height: 1.4em;
  white-space: pre-wrap;
}

@font-face {
  font-family: TextFont;
  src: url('fonts/LinuxLibertine/LinLibertine_R.ttf');
  /* src: url('fonts/Garamond/EBGaramond-Regular.ttf'); */
}
@font-face {
  font-family: TitleFont;
  src: url('fonts/DayRoman/DAYROM__.ttf');
}



/* -------------------- Layout -------------------- */
/* Use this to layout the page (e.g. wrap elements in div with these classes */
/* Also use TwoColumns with Column children */
.with-margined-children > * {           /* Direct children only */
  margin-top: 0px !important;
  margin-bottom: var(--element-padding-half) !important;
}
.margined-bottom {
  margin-top: 0px;
  margin-bottom: var(--element-padding);
}
.unmargined {
  margin-top: 0px;
  margin-bottom: 0px;
}
.padded {
  padding: var(--element-padding);
}






body {
  /* font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman"; */
  font-family: TextFont;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}

#Window {
  background-image: url("images/background-standard-2-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  margin: 0px;
  padding: 0px;
}

















.inline-icon--spell {
  height: 18px;
  margin-right: 3px;
}
.inline-icon {
  height: 21px;
  margin-right: 3px;
  margin-top: 2px;
}
.inline-icon--small-stat {
  height: 21px;
  margin-right: 3px;
  margin-top: 3px;
}







.button-standard {
  font-family: TitleFont;
  font-size: 1em;
  font-weight: 200;
  padding: 20px;

  border-radius: 3px;
  border: solid var(--button-color) 1px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  display: block;
  position: relative;
}
.button-standard:hover {
  cursor: pointer;
  border: solid white 1px;
  filter: brightness(1.2);
}







.footer {
  min-height: 150px;
  background-color: var(--gray-color);
}



