:root {
  --element-padding: 30px;
  --element-padding-half: calc(var(--element-padding) / 2);

  --title-font-transform: scale(0.8, 1);

  --passive-dark-color: rgb(31, 81, 146);

  --light-medium-color: rgb(153, 52, 52);
  --medium-color: rgb(95, 39, 39); 
  --dark-color: rgb(68, 22, 22);
  --darker-color: rgb(48, 2, 2);

  --dark-blue: rgb(22, 22, 98);
  --darker-blue: rgb(22, 22, 58);
  --dark-green: rgb(23, 80, 0);

  --gray-color: rgb(31, 31, 31);

  --button-color: rgb(117, 10, 10); 

  --simple-page-color: rgb(255, 252, 249);

  --p-size: 20px;
}
@media (orientation: portrait) {
  :root {
    --p-size: 4.25vw;
  }
}

* {
  scroll-behavior: smooth;
  vertical-align: top;
  box-sizing: border-box;
}
p {
  margin-top: 0px;
  /* margin-bottom: var(--element-padding); */
  line-height: 1.4em;
  font-size: var(--p-size);
  white-space: pre-wrap;
}


.content {
  /* padding-top: var(--nav-height); */
}

@font-face {
  font-family: TextFont;
  src: url('fonts/LinuxLibertine/LinLibertine_R.ttf');
  /* src: url('fonts/Garamond/EBGaramond-Regular.ttf'); */
}
@font-face {
  font-family: TitleFont;
  src: url('fonts/DayRoman/DAYROM__.ttf');
}
@font-face {
  font-family: StylizedFont;
  src: url('fonts/InknutAntiqua/InknutAntiqua-Light.ttf');
}
@font-face {
  font-family: HomeFont;
  src: url(fonts/RobotoCondensed/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: HomeFontBold;
  src: url(fonts/RobotoCondensed/RobotoCondensed-Bold.ttf);
}
.stylized-font {
  font-family: StylizedFont;
  transform: var(--title-font-transform);
}



/* -------------------- Layout -------------------- */
/* Use this to layout the page (e.g. wrap elements in div with these classes */
/* Also use TwoColumns with Column children */
.with-margined-children > * {           /* Direct children only */
  margin-top: 0px !important;
  margin-bottom: var(--element-padding-half) !important;
}
.margined-bottom {
  margin-top: 0px;
  margin-bottom: var(--element-padding);
}
.unmargined {
  margin-top: 0px;
  margin-bottom: 0px;
}
.padded {
  padding: var(--element-padding);
}
.centered-content {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 20px;
}






body {
  font-family: TextFont;
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

#Window {
  background-color: #222;
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  margin: 0px;
  padding: 0px;
}






















.button-standard {
  font-family: StylizedFont;
  font-size: 1em;

  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid white 1px;
  border-radius: 4px;

  padding: 0px;

  z-index: 999;
  display: block;
  position: relative;

  cursor: pointer;
}
.button-standard:hover {
  border: solid var(--light-medium-color) 1px;
}
.button-standard__content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
}






.footer {
  margin-top: 150px;
  min-height: 150px;
  background-color: var(--gray-color);
}







