
/* -------------------- File Explained -------------------- */
/* This CSS file contains classes for layout, spacing, buttons, custom text, etc. */
/* All of are generic, and are not part of one specific element. */


/* --------------------- Vars --------------------- */
:root {
  --z-background: 100;
  --z-intermediate: 200;
  --z-under-content: 300;
  --z-content: 400;
  --z-nav: 500;
  --z-overlay: 600;
  --z-popup: 700;
}


/* -------------------- Layout -------------------- */
/* Use this to layout the page (e.g. wrap elements in div with these classes */
/* Also use TwoColumns with Column children */
.with-margined-children > * {           /* Direct children only */
    margin-top: 0px !important;
    margin-bottom: var(--element-padding-half) !important;
  }
.margined-bottom {
    margin-top: 0px;
    margin-bottom: var(--element-padding);
}
.unmargined {
    margin-top: 0px;
    margin-bottom: 0px;
}
.padded {
    padding: var(--element-padding);
}
.centered-content {
    width: 100%;
  
    display: flex;
    justify-content: center;
    gap: 20px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/* ----------------- Responsiveness ---------------- */
.landscape-only, .landscape {
    
}
@media (orientation: landscape) {
    .portrait-only, .portrait {
        display: none;
    }
}

@media (orientation: portrait) {
    .landscape-only, .landscape {
        display: none !important;
    }
    .portrait-only, .portrait {
        
    }
}


/* -------------------- Text -------------------- */
.text-link-with-hover {
    color: rgb(0, 78, 151);
}
.text-link-with-hover:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(0.5);
}



.floating-animation-1 {
    animation: Floating1 6s ease-in-out infinite;
}
.floating-animation-2 {
    animation: Floating2 9s ease-in-out infinite;
}
.floating-animation-3 {
    animation: Floating3 5s ease-in-out infinite;
}
.rotating-animation-1 {
    animation: Rotating1 500s infinite;
}
@keyframes Floating1 {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(10px);
    }
}
@keyframes Floating2 {
    0% {
        transform: translateY(16px) rotate(5deg);
    }
    20% {
        transform: translateY(10px) rotate(5deg);
    }
    70% {
        transform: translateY(20px) rotate(0deg);
    }
    100% {
        transform: translateY(16px) rotate(5deg);
    }
}
@keyframes Floating3 {
    0% {
        transform: translateY(18px);
    }
    40% {
        transform: translateY(10px);
    }
    90% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(18px);
    }
}
@keyframes Rotating1 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}