
:root {
    --nav-height: 115px;
    --nav-item-width: 200px;
    --nav-background-color: rgba(0, 0, 0, 0.8);
}

nav {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: var(--nav-background-color);
    height: var(--nav-height);

    display: flex;
    justify-content: center;
}
.nav-item {
    font-family: TitleFont;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-align: center;
    font-size: 1.35em;
    vertical-align: middle;
    color: white;
    line-height: var(--nav-height);   /* Ensures text is centered vertically */
  
    min-width: var(--nav-item-width);
    height: 100%;
    display: inline-block;            /* Ensures correct height as 100% of parent */
    position: relative;
    z-index: 9999 !important;
}
.nav-item a {
    display: inline-block;
    color: white;
    height: 100%;
    width: 100%;
}
nav a:hover {
    background-color: rgba(256, 256, 256, 0.1);
}
.nav-item {
    position: relative;
}
.nav-item__dropdown {
    display: none;
    position: absolute;
}
.nav-item:hover .nav-item__dropdown {
    display: block;
}
.nav-item__dropdown-item {
    font-family: TitleFont;
    letter-spacing: 0.15em;
    text-decoration: none;
    text-align: center;
    font-size: 0.8em;
    vertical-align: middle;
    color: white;
    line-height: calc(var(--nav-height) * 0.5);
    
    background-color: var(--nav-background-color);
  
    height: calc(var(--nav-height) * 0.5);
    min-width: var(--nav-item-width);
    z-index: 9999 !important;         /* So it does not underlap the page's content */
}
.hover-cleric a:hover { color: #fff383 !important; }
.hover-druid a:hover { color: #25e71f !important; }
.hover-hunter a:hover { color: #81ff38 !important; }
.hover-mage a:hover { color: #0084ff !important; }
.hover-paladin a:hover { color: #ffd901 !important; }
.hover-rogue a:hover { color: #766cff !important; }
.hover-shaman a:hover { color: #59c2ff !important; }
.hover-warlock a:hover { color: #a659ff !important; }
.hover-warrior a:hover { color: #ff3c3c !important; }




























.subnav {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    height: calc(var(--nav-height) / 2);
  }
  .subnav a {
    font-family: TitleFont;
    letter-spacing: 0.15rem;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
    color: white;
  
    min-width: 150px;
    height: 100%;
    line-height: calc(var(--nav-height) / 2);   /* Ensures text is centered vertically */
    display: inline-block;                      /* Ensures correct height as 100% of parent */
    position: relative;
    float: right;
  }
  .subnav a:hover {
    background-color: rgba(1, 1, 1, 0.3);
  }