:root {
    --nav-width: 70%;
    --nav-height: 80px;
    --nav-item-padding: 40px;
    --nav-background-color: rgba(0, 0, 0, 1);

    --subnav-height: 50px;
    --subnav-item-padding-left: 40px;
    --subnav-item-padding-right: 20px;
    --subnav-background-color: rgba(15, 15, 15, 1);

    --nav-z-mega-dropdown: 999;
    --nav-z-item: 9999;

    --undernav-padding: 15px;
    --undernav-height: calc(var(--banner-3-height) + var(--undernav-padding) * 2);
    --undernav-background-color: rgb(255, 245, 232);
}

#Navigation-Section {
    position: fixed;
    width: 100%;
    z-index: 99999999;
}

nav {
    margin: 0px;
    padding: 0px;
    padding-left: calc((100% - var(--nav-width)) / 2);
    width: 100%;
    background-color: var(--nav-background-color);
    height: var(--nav-height);

    display: flex;
}
.nav-item {
    font-family: TitleFont;
    font-size: 0.9em;
    letter-spacing: 0.04em;
    line-height: var(--nav-height);   /* Ensures text is centered vertically */
    padding-left: var(--nav-item-padding);
    padding-right: var(--nav-item-padding);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: white;
  
    height: 100%;
    z-index: var(--nav-z-item) !important;
    display: inline-block;            /* Ensures correct height as 100% of parent */
    position: relative;               /* For dropdown */
}
.nav-item a {
    display: inline-block;
    color: white;
    height: 100%;
    width: 100%;
}




.mega-dropdown {
    /* border-top: solid 1px rgb(43, 43, 43);
    border-top: solid 1px rgb(43, 43, 43); */
    width: 100%;
    position: absolute;
    top: var(--nav-height);
    z-index: 999;
}

.subnav {
    width: 100%;
    height: 50px;
    background-color: var(--subnav-background-color);

    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
.subnav-content {
    width: 70%;
    margin: auto;
    color: white;
}
.subnav-item {
    font-family: TitleFont;
    font-size: 0.8em;
    letter-spacing: 0.04em;
    line-height: var(--subnav-height);   /* Ensures text is centered vertically */
    padding-left: var(--subnav-item-padding-left);
    padding-right: var(--subnav-item-padding-right);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: white;
  
    height: 100%;
    z-index: var(--nav-z-item) !important;
    display: inline-block;            /* Ensures correct height as 100% of parent */
    position: relative;               /* For dropdown */
}
.subnav-item a {
    display: inline-block;
    color: white;
    height: 100%;
    width: 100%;
}



.undernav {
    width: 100%;

    height: var(--undernav-height);
    padding-top: var(--undernav-padding);
    padding-bottom: var(--undernav-padding);

    /* background-color: rgb(22, 22, 22); */
    background-image: url('./images/undernav-background-page-desaturated.png');
    background-repeat: repeat;
    background-size: 90%;

    overflow-x: scroll;
    overflow-y: hidden;
}
.undernav-content {
    min-width: 100%;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    gap: 15px;
}
.undernav-content > .home-banner-3 {
}