.page-h1 {
    margin-top: 0px;
    position: relative;
    z-index: 1;

    padding-top: calc(var(--page-padding));
    /* padding-bottom: calc(var(--page-padding) * 1.5); */
    padding-bottom: 40px;
}
/* .page-h1 img {
    position: absolute;
    left: -30px;
    top: 120px;
    height: 110px;
    z-index: -1;
} */
.page-h1 h1 {
    margin: 0px;
    margin-left: -4px;

    line-height: 100px;
    font-weight: 100;
    font-size: 100px;
    /* font-family: TitleFont; */
    font-family: HomeFontBold;
    /* font-weight: 400; */
    color: var(--dark-color);
}

a {
    color: black;
    text-decoration: none;
}