.fade-diagonal {
  -webkit-mask-image: radial-gradient(
    circle at 100% 0%,
    black 0%,
    black 45%,
    transparent 75%
  );
  mask-image: radial-gradient(
    circle at 100% 0%,
    black 0%,
    black 25%,
    transparent 70%
  );

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.book-spell h2 {
    font-family: TitleFont;
    color: var(--theme-color-1-darker);
    
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
.h2-underline {
    width: 100%;
    height: 2px;
    background-color: var(--theme-color-1-darker);
}

.book-spell-img {
  position: absolute;
  top: 7px;
  right: 7px;

  z-index: var(--z-under-border);
}
.book-spell .spell-border {
  border-image-source: url('spell-borders-5b-book.png');
}