.spell {
    --spell-border-width: 16px;
    --spell-true-border-width: 6px;

    --spell-padding: var(--p-size);

    --spell-title-font-size: calc(var(--spell-padding) * 1.1);
    --spell-padding-small: calc(var(--spell-padding) * 0.4);
    --spell-margin-bottom: calc(var(--element-padding) / 2);
    --spell-padding-bottom: calc(var(--spell-padding) * 1.5);
    --spell-top-stats-padding: calc(var(--spell-padding) - 2px); /* For pixel perfect alignment of the text */
    --spell-tags-gap: 0.5rem;
    
    --spell-border-z: 20;

    --spell-banner-height: 0px;


    --spell-title-width: 94.25%;
    --spell-title-top-padding: calc(var(--spell-padding) + var(--spell-padding-small));
    --spell-passive-title-top-padding: calc(var(--spell-title-top-padding) * 1.35);
    --spell-icon-size: calc(var(--p-size) * 4.5);

    --subspell-size-multiplier: 0.75;

    --z-background: calc(var(--z-content) - 10);
    --z-under-border: calc(var(--z-content));
    --z-border: calc(var(--z-content) + 10);
    --z-box: calc(var(--z-content) + 20);
    --z-title: calc(var(--z-content) + 30);
    --z-icon-side: calc(var(--z-content) + 40);
    --z-variant-spinner: calc(var(--z-content) + 50);
    --z-icon: calc(var(--z-content) + 60);
    --z-icon-tint-overlay: calc(var(--z-content) + 70);
    --z-secondary-icon: calc(var(--z-content) + 80);
    --z-variant-counter: calc(var(--z-content) + 90);
    --z-x-button: calc(var(--z-content) + 100);
    --z-click-overlay: calc(var(--z-content) + 110);
}
@media (max-width: 1366px) {
    .spell {
        --spell-padding: 12px;
        --spell-padding-small: 6px;
    }
}
@media (orientation: portrait), (max-width: 900px)  {
    .spell {
        --spell-icon-size: 15vw;

        --spell-padding: 3.5vw;
        --spell-padding-small: 1.325vw;

        --spell-passive-title-top-padding: calc(var(--spell-title-top-padding) * 1.3);
    }
}
@media (max-width: 300px) {
    .spell {
        --spell-title-top-padding: calc(var(--spell-padding) + 1px);
    }
}

.spell {
    width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: var(--spell-margin-bottom);

    white-space: pre-line; /* Uses \n instead of <br> for new lines */
    
    break-inside: avoid;
    page-break-inside: avoid;   /* These lines avoid wrapping in all circumstances */
    flex-wrap: nowrap;
}

.spell a {
    text-decoration: underline;
    color: var(--theme-color);
}

.spell--normal {}
/* Decoration */
.spell__no-border {
    border: solid 2px black;
}
.spell-border {
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid transparent;
    border-image-source: url('spell-borders-5b.png');
    border-image-slice: 48 48 48 48 fill;
    border-image-width: 28px;
    border-image-repeat: stretch;
    box-sizing: border-box;
    border-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: var(--z-border);
}
.--test {
    border-image: url('spell-borders-5b.png') 28 fill;
    border-image-slice: 48 48 48 48;
    border-image-width: 28px;
}
.spell-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: var(--z-background);
    background-color: rgb(255, 255, 255);
    border-radius: calc(var(--p-size) * 1);
    
}


/* Actual spell box */
.spell .content {
    height: 100%;
    position: relative;
    padding-top: calc(var(--spell-banner-height) + var(--spell-padding-small));
    padding-left: var(--spell-padding-small);
    padding-right: var(--spell-padding-small);
    z-index: var(--z-box);
}


/* Spell Top */
.spell-top {
    display: flex;
    flex-direction: row;
    min-height: calc(var(--spell-icon-size) + 2 * var(--spell-padding));
}
.spell-top .left {
    position: relative;
    padding: var(--spell-padding);
    padding-right: 0px;
    z-index: var(--z-icon-side);
}
.spell-top .left img {
    width: 100%;
    position: relative;
    z-index: var(--z-icon);
}
.spell-icon-wrapper {
    z-index: var(--z-icon);
    width: var(--spell-icon-size);
    height: var(--spell-icon-size);
    padding: 1px;
    border: solid black 1px;
    overflow: hidden;
    position: relative;
}
.spell-icon-wrapper .secondary-icon-wrapper {
    z-index: var(--z-secondary-icon);
    bottom: 3px;
    right: 3px;
}
.spell-icon-wrapper .secondary-icon-wrapper,
.spell-icon-wrapper .secondary-icon-wrapper img {
    width: calc(var(--spell-icon-size) / 3);
}
.spell-img-wrapper {
    position: relative;
    z-index: var(--z-icon);
}
.tinted-icon-wrapper {
  --tint-rgb: 0 200 255;
  --tint-alpha: 0.5;
  --blend-mode: color;
}
.tinted-icon-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(var(--tint-rgb) / var(--tint-alpha));
  mix-blend-mode: var(--blend-mode);
  pointer-events: none;

  z-index: var(--z-icon-tint-overlay);

  top: 1px;
  left: 1px;
  width:  calc(var(--spell-icon-size) - 8px);   /* Not sure why 8px, needs mathing */
  height: calc(var(--spell-icon-size) - 8px);   /* Not sure why 8px, needs mathing */
  padding: 1px;
}
.passive .tinted-icon-wrapper::after {
    border-radius: 25%;
}
.variant-spinner {
    position: absolute;
    width: calc(var(--spell-icon-size) * 2);
    height: calc(var(--spell-icon-size) * 2);
    left: calc(var(--spell-icon-size) * -0.5);
    top: calc(var(--spell-icon-size) * -0.5);
    z-index: var(--z-variant-spinner);

    background-image: conic-gradient(
        rgb(0, 174, 255) 0%,
        #FFFFFF00 50%,
        rgb(0, 174, 255) 50%,
        #FFFFFF00 100%
    );

    animation-name: VariantSpinning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes VariantSpinning {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.non-spell-spinner {
    position: absolute;
    z-index: var(--z-variant-spinner);

    background-image: conic-gradient(
        var(--theme-color-light) 0%,
        #FFFFFF00 50%,
        var(--theme-color-light) 50%,
        #FFFFFF00 100%
    );

    animation-name: VariantSpinning;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.non-spell-icon {
    z-index: var(--z-icon);
    position: absolute;
}

.passive .spell-top .left img {
    border-radius: 25%;
    padding: 1px;
}
.active .spell-top .left img {
    border-radius: 0px;
    padding: 1px;
}
.passive .spell-icon-wrapper {
    border-radius: 25%;
}
.active .spell-icon-wrapper {
    border-radius: 0px;
}

@keyframes SpellIconBlinking {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 119, 255, 0.8);
    }
    100% {
        box-shadow: 0 0 10px 10px rgba(0, 119, 255, 0.1);
    }
}






.spell.with-variants .spell-top .left img {
    padding: 1px;
}
.variant-counter {
    font-family: var(--font-home);
    opacity: 0;
    background-color: white;
    position: absolute;
    width: var(--spell-icon-size);
    height: var(--spell-icon-size);
    
    color: black;
    font-size: calc(0.35 * var(--spell-icon-size));
    text-align: center;
    line-height: var(--spell-icon-size);

    z-index: var(--z-variant-counter);
}
.variant-counter:hover {
    user-select: none;
    opacity: 0.5;

    cursor: pointer;
}

.spell-click-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: var(--z-click-overlay);
    top: 0px;
    left: 0px;

}



.spell .title {
    border: none;

    border-image: url('title-border-2c.png') 28 fill;
    border-image-slice: 5;
    border-image-width: 5px;
    box-sizing: border-box;
    /* border: solid black 1px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px; */
    /* border-left: none; */
    /* background-color: white; */
    color: black;
    
    min-width: 125px;

    padding: calc(var(--spell-padding) / 2);
    padding-left: calc(var(--spell-padding) + 6px);
    padding-right: var(--spell-padding);

    font-weight: bold;
    font-size: var(--spell-title-font-size);
    letter-spacing: calc(var(--p-size) * 0.075);
    text-align: center;
    white-space: nowrap;
}

.spell-top-stats {
    padding: var(--spell-top-stats-padding);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--spell-tags-gap);                                  /* Especially for space between lines */
}
.spell-top-stats--no-padding-side {
    padding-left: 0px;
    padding-right: 0px;
}
.spell-top-stats--less-padding-top-bottom {
    padding-top: calc(var(--spell-padding) / 4);
    padding-bottom: calc(var(--spell-padding) / 4);
}
.spell-top-stats div {
    line-height: calc(var(--p-size) * 0.9);
    display: inline-block;

    border-radius: 4px;
}
.spell .title-wrapper.no-icon {
    margin: auto;
    width: 85%;
    border-left: solid black 2px;
}
.spell .title-wrapper {
    width: var(--spell-title-width);
    
    margin-top: var(--spell-title-top-padding);
    
    /* border: solid black 2px; */
    border-left: none;
    z-index: var(--z-title);
    padding: 1px;
}
.spell.passive .title-wrapper {
    margin-top: var(--spell-passive-title-top-padding);
}

.spell .x-button {
    position: absolute;
    top: 0;
    right: 0.75rem;
    color: red;
    font-size: 2rem;
    opacity: 0.5;
    font-weight: 900;
    z-index: var(--z-x-button);
}
.spell .x-button:hover {
    opacity: 0.8;
    cursor: pointer;
}


/* Bottom side */
.spell .separator {
    margin-top: 0px;
    margin-bottom: 0px;
}
.spell-separator {
    margin-top: calc(var(--p-size) * 0.25);
    width: calc(100% + var(--spell-padding) * 2 + 12px);
    margin-left: calc(-1 * var(--spell-padding) - 6px);
}
.spell-effects-box {
    font-size: var(--p-size);
    padding: var(--spell-padding);
    padding-top: calc(var(--spell-padding-small) * 1.5);
    padding-bottom: 0.25rem;
}
.spell-description, .spell-green, .spell-red, .spell-combo {
    /* font-size: var(--p-size); */
    /* padding: var(--spell-padding);
    padding-top: calc(var(--spell-padding-small) * 1.5);
    padding-bottom: var(--spell-padding-bottom); */
}
.spell-green {
    color: var(--green-color);
}
.spell-red {
    color: rgb(240, 0, 0);
}
.spell-upgrade {
    /* padding: var(--spell-padding);
    padding-top: var(--spell-padding-small);
    padding-bottom: var(--spell-padding-bottom); */
}
.spell-notes {
    /* padding: var(--spell-padding);
    padding-top: var(--spell-padding-small);
    padding-bottom: var(--spell-padding-bottom); */

    color: var(--gray-color);
}

/* Spell Container */
.many-spells-container {
    /* box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; */

    width: 100%;
    margin: 0 auto;
    height: 500px;
    /* height: 470px; */
    display: flex;
    flex-flow: column wrap; /* Shorthand – you could use ‘flex-direction: column’ and ‘flex-wrap: wrap’ instead */
    justify-content: flex-start;
    align-items: flex-start;
}
.many-spells-container .spell {
    max-width: 30%;
    display: block;
}

.item {
    background-color: orange;
    height: 150px;
    width: 31%;
    margin: 1%;
    padding: 10px;
  }
  
  .item:nth-child(2) {
    background-color: pink;
    height: 250px;
  }
  
  .item:nth-child(3) {
    height: 190px;
  }
  
  .item:nth-child(4) {
    background-color: aqua;
    height: 220px;
  }




/* ------- Subspell Modifications --------- */
.subspell {
    box-shadow: none;
    -webkit-box-shadow: none;
}
.subspell * {
    font-size: calc(var(--p-size) * 0.9);
}
/* -- Border -- */
.subspell .spell-border {
    border-width: calc(var(--spell-border-width) / 3 * 2);
}

/* -- Title & Icons -- */
.subspell .spell-top .left {
    padding: calc(var(--spell-padding) / 2);
    padding-right: 0px;
}
.subspell .title-wrapper {
    margin-top: calc(var(--spell-title-top-padding) / 2);
}
.subspell.passive .title-wrapper {
    margin-top: calc(var(--spell-passive-title-top-padding) / 2);
}
.subspell .title {
    padding: calc(var(--spell-padding) / 4);
}

/* -- Stats -- */
.subspell .spell-top {
    min-height: calc(var(--spell-icon-size));
    padding-bottom: var(--spell-padding-small);
}
.subspell .spell-top-stats { /* For pixel perfect alignment of the text */
    /* padding: calc(var(--spell-padding) / 2 - 2px); */
}
/* -- Body -- */
.subspell .spell-description,
.subspell .spell-green,
.subspell .spell-red,
.subspell .spell-combo {
    font-size: calc(var(--p-size) * 0.9);
    padding-top: calc(var(--spell-padding-small) / 2);
    padding-bottom: calc(var(--spell-padding-bottom) / 4);
}

/* -- Icon -- */
.subspell .spell-icon-wrapper {
    width: calc(var(--subspell-size-multiplier) * var(--spell-icon-size));
    height: calc(var(--subspell-size-multiplier) * var(--spell-icon-size));
}
.subspell .spell-top .left img {
    width: calc(var(--subspell-size-multiplier) * var(--spell-icon-size) - 4px);
    height: calc(var(--subspell-size-multiplier) * var(--spell-icon-size) - 4px);
}


/* --- Items --- */
.spell.is-item .splash-box {
    width: 100%;
    aspect-ratio: 5/3;
    padding: 0.5rem;
}
.spell.is-item .splash-box .splash-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}