
.pdfs .name {
    font-family: PDFFontBold;
    font-variant: small-caps !important;
    margin: 0;
    font-weight: bold;
    letter-spacing: 0.75pt;
}

.pdfs-icon-box {
    /* border: solid 1pt var(--theme-color-light);
    padding: 1pt; */
    max-width: 100%;
}
.pdfs-icon {
    max-width: 100%;
    border-radius: 2pt;
}


.pdfs-tag {
    font-size: 0.7em;
    text-align: center;
    color: white;
    background-color: var(--theme-color-darker);

    border-radius: 2pt;

    padding: 2pt;
    padding-left: 1.5mm;
    padding-right: 1.5mm;
}




.pdfs-effect {
    margin-top: 2mm;
    font-size: var(--p-size);
}