.ribbon {
    --font-size: 1.4rem;
    --height: 4rem;
    --base-width: 391;
    --base-height: 125;
    --ar: calc(225px / 391);
    --width: calc((391 / 125) * var(--height));
    padding-left: 0px;
    position: absolute;
    z-index: var(--z-overlay);
}
.ribbon img {
    z-index: var(--z-overlay);
}
.ribbon h3 {
    width: 100%;
    z-index: var(--z-overlay);

    position: absolute;
    
    font-size: var(--font-size);
    font-family: RoundedNunito;
    font-weight: 600;
    color: white;
    font-family: HomeFont;
    font-weight: normal;

    transform: rotate(-30deg);
    top: calc(0px);    /* Pixel perfect */
    left: calc(-24px);  /* Pixel perfect */

}