.stat-input {
    width: var(--stat-selector-size);
    height: var(--stat-selector-size);
    aspect-ratio: 1/1;
    position: relative;
    font-size: 2rem;
    line-height: 100%;
    text-align: center;
    font-family: HomeFont;
    
    background-color: white;
    border: solid gray 1px;
    border-radius: 6px;
}

.stat-input.double {
    line-height: 1rem;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
}
.stat-input.double > .part {
    width: var(--stat-selector-size);
    height: calc(var(--stat-selector-size) / 2);
    line-height: calc(var(--stat-selector-size) / 2.25);
}
.stat-input.double > .part:nth-child(2) {
    border-top: solid black 1px;
}
.stat-input.large {
    width: var(--attributes-size);
    height: var(--attributes-size);
    line-height: var(--attributes-size);
}
.stat-input.small {
    width: calc(var(--stat-selector-size) / 2);
    height: calc(var(--stat-selector-size) / 2);
    line-height: calc(var(--stat-selector-size) / 2);
    font-size: 1.5rem;
}
.stat-input input {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}
.stat-input .input-name {
    width: 100%;
    
    position: absolute;
    bottom: 0.25rem;

    color: gray;
    pointer-events: none;
}

.input-name-styled {
    font-family: HomeFont;
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;

    color: gray;
    pointer-events: none;
    z-index: var(--z-overlay);
}