:root {
    --landing-page-separator-height: 6px;
}

.landing-page-separator {
    display: block;
    width: 100%;
    height: var(--landing-page-separator-height);
    margin-top: -1px;
    margin-bottom: -1px;
}