:root {
    /* --landing-page-separator-height: 6px; */
    --landing-page-separator-height: 7px;
}

.landing-page-separator {
    display: block;
    width: 100%;
    height: var(--landing-page-separator-height);
    margin-top: -1px;
    margin-bottom: -1px;

    -webkit-box-shadow: 0px 0px 28px 11px rgba(0,0,0,0.89);
    -moz-box-shadow: 0px 0px 28px 11px rgba(0,0,0,0.89);
    box-shadow: 0px 0px 28px 11px rgba(0,0,0,0.89);
}
