.page-h1 {
    position: relative;
    z-index: 1;
}
.page-h1 img {
    position: absolute;
    left: calc(0px - var(--page-padding));
    height: 100px;
    z-index: -1;
}
.page-h1 h1 {
    margin-bottom: 10px;
    line-height: 100px;
    font-weight: 100;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    font-family: TitleFont;
    color: white;
}

a {
    color: black;
    text-decoration: none;
}