/*
    Hero Heights:
    New World: 720px
    Lost Ark: 720px
    Palia: 720px

    Arche Age: 820px

    AoC: 872px
      Title Font: Artiflex 30px, LH 36px
      Text Font: Roboto Condensed 20px, LH 28px

    BDO:
      Title & Text Font: StrongSword
*/


:root {
  --hero-height: 720px;
  --hero-content-width: 755px;

  --hero-h1-size: 75px;
  --home-text-size: 27px;

  --hero-text-color: rgb(65, 41, 74);
  --hero-bg-color: rgb(243, 243, 243);

  --hero-gap: 40px;
  --hero-buttons-line-width: 230px;
  --button-border-radius: 50px;
  --button-min-width: 240px;

  --content-left: 10vw;

  --z-background: 1;
  --z-content: 3;
}
@media (orientation: portrait) {
  :root {
    --hero-content-width: 80vw;
    --content-left: 10vw;

    --hero-gap: 25px;
    --hero-buttons-line-width: 20vw;
    --button-border-radius: 13vw;
    --button-min-width: 40vw;

    --hero-h1-size: max(7.5vw, 38px);
    --home-text-size: max(5vw, 17px);
  }
}

.text-centered {
  text-align: center;
}

.home {
  display: flex;        /* Ensures margin-top doesn't get bugged */
  width: 100vw;
  margin: auto;
  margin-top: 0px;
  flex-direction: column;
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;

  overflow: hidden;

  background-color: var(--hero-bg-color);
}
.hero-image-container {
  position: absolute;
  
  height: 100vh;
  width: 100vw;

  margin-left: 30%;

  overflow: hidden;
  z-index: var(--z-background);

  background-color: rgb(16, 17, 21);  /* Fill right side of the screen on wide monitors */
}
.hero-image-container img {
  display: block;
  height: 100%;
  
  margin-top: var(--nav-height);
}
.hero-content {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--hero-gap);
  
  width: var(--hero-content-width);
  height: calc(100vh - var(--nav-height));

  left: var(--content-left);
  top: var(--nav-height);
  
  z-index: var(--z-content);
}
.hero-content h1 {
  margin: 0px;

  font-family: TitleFont;
  color: var(--hero-text-color);
  letter-spacing: calc(var(--hero-h1-size) * 0.04);
  font-size: var(--hero-h1-size);
}


/* ---------------- Landing Page ---------------- */

.home-text-style {
  margin: 0px;
  font-family: HomeFont;
  color: var(--hero-text-color);
  font-size: var(--home-text-size);
}
.hero-buttons {
  --my-width: var(--hero-content-width);

  display: flex;
  width: var(--my-width);
  gap: min(30px, 2vw);
  /* width: 100%; */

  margin-top: 20px;
}
.hero-buttons img {
  object-fit: contain;
  width: var(--hero-buttons-line-width);
}
.generic-button {
  font-family: HomeFont;
  font-size: var(--home-text-size);
  min-width: var(--button-min-width);

  padding: 12px;
  
  background: none;
  border: solid var(--hero-text-color) 3px;
  border-radius: var(--button-border-radius);

  cursor: pointer;
}
.generic-button:hover {
  color: var(--light-medium-color);
  border-color: var(--light-medium-color);
}
.hero-buttons button:nth-child(1) {
  flex: 1;
  
  background-color: var(--hero-text-color);
  color: white;
}
.hero-buttons button:nth-child(2) {
  flex: 2;
}










:root {
  --advantages-content-width: 650px;
  
  --advantages-h1-size: calc(var(--hero-h1-size) * 0.6);
  --advantages-font-size: var(--home-text-size);

  --adv-inline-icon-size: 30px;
  --inline-icon-top: 2.5px;

  --advantages-bg-color-left: rgb(254, 254, 254);
  --advantages-bg-color-right: rgb(250, 250, 250);
}
@media (orientation: portrait) {
  :root {
    --advantages-content-width: 80vw;
    --advantages-font-size: calc(var(--home-text-size) * 0.70);

    --adv-inline-icon-size: 4vw;
    --inline-icon-top: 0.5vw;
  }
}

#Home-Advantages {
  background-image: linear-gradient(to right, var(--advantages-bg-color-left) 0%, var(--advantages-bg-color-left) 35%, var(--advantages-bg-color-right) 60%);
}
.advantages-image-container {
  position: absolute;
  
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  z-index: var(--z-background);
}
.advantages-img {
  display: block;
  height: 100%;
  
  margin-left: 20%;
  transform: translateX(40%);
}


.advantages-content {
  width: var(--advantages-content-width);
  /* top: 150px; */

  color: var(--hero-text-color);
}
#Home-Advantages h1 {
  font-size: var(--advantages-h1-size);
}
#Home-Advantages .home-text-style {
  font-size: var(--advantages-font-size);
}

.advantages-content ul {
  font-size: var(--advantages-font-size);
  font-family: HomeFont;

  padding: 0px;
  margin: 0px;
}
.advantages-content ul li {
  height: 45px;
  list-style-type: none;
}
.advantages-content .inline-icon {
  margin-top: var(--inline-icon-top);
  height: var(--adv-inline-icon-size);
  margin-right: 20px;
}





