:root {
  --hero-height: 720px;

  --hero-image-base-width: 3508;
  --hero-image-base-height: 1579;

  --hero-text-color: rgb(65, 41, 74);

  --content-left: 11vw;



  /*
    Hero Heights:
    New World: 720px
    Lost Ark: 720px
    Palia: 720px

    Arche Age: 820px

    AoC: 872px
      Title Font: Artiflex 30px, LH 36px
      Text Font: Roboto Condensed 20px, LH 28px

    BDO:
      Title & Text Font: StrongSword
  */

  --z-background: 1;
  --z-content: 3;
}


.text-centered {
  text-align: center;
}

.home-container {
  display: flex;        /* Ensures margin-top doesn't get bugged */
  width: 100vw;
  margin: auto;
  margin-top: 0px;
  flex-direction: column;
}



.home__hero-section {
  position: relative;
  width: 100%;
  height: calc(100vh - var(--nav-height));

  overflow: hidden;
}
.hero-image-container {
  position: absolute;
  
  height: calc(100vh - var(--nav-height));
  width: 100vw;

  overflow: hidden;
  z-index: var(--z-background);
}
.hero-img {
  display: block;
  height: 100%;
  
  margin-left: 30%;
  transform: translateX(-30%);
}
:root {
  --hero-content-width: 755px;
}
.hero-content {
  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 40px;
  
  width: var(--hero-content-width);

  left: var(--content-left);
  top: 290px;
  
  z-index: var(--z-content);
}
.home-title {
  margin: 0px;

  font-family: TitleFont;
  color: var(--hero-text-color);
  letter-spacing: 2px;
  font-size: 75px;
}
.home-text {
  margin: 0px;
  margin: auto;

  /* width: 75%; */

  font-family: HomeFont;
  color: var(--hero-text-color);
  font-size: 27px;
}
.hero-buttons {
  --my-width: 715px;

  display: flex;
  width: var(--my-width);
  gap: 30px;
  /* width: 100%; */

  margin-top: 20px;
  margin-left: calc((var(--my-width) - var(--hero-content-width)) / 2 * (-1) - 25px);
}
.hero-buttons img {
  object-fit: contain;
  width: 230px;
}
.generic-button {
  font-family: HomeFont;
  font-size: 27px;

  padding: 12px;
  
  background: none;
  border: solid var(--hero-text-color) 3px;
}
.hero-buttons button:nth-child(1) {
  flex: 1;
  
  background-color: var(--hero-text-color);
  color: white;
}
.hero-buttons button:nth-child(2) {
  flex: 2;
}










:root {
  --advantages-font-size: 27px;
}

.home-advantages {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.advantages-image-container {
  position: absolute;
  
  height: 100vh;
  width: 100vw;

  overflow: hidden;
  z-index: var(--z-background);
}
.advantages-img {
  display: block;
  height: 100%;
  
  margin-left: 30%;
  transform: translateX(-30%);
}


.advantages-content {
  width: 600px;
  top: 150px;

  color: var(--hero-text-color);
}
.home-advantages .home-title {
  font-size: 45px;
}
.home-advantages .home-text {
  font-size: var(--advantages-font-size);
}

.advantages-content ul {
  font-size: var(--advantages-font-size);
  font-family: HomeFont;

  padding: 0px;
  margin: 0px;
}
.advantages-content ul li {
  height: 45px;
  list-style-type: none;
}
.advantages-content .inline-icon {
  margin-top: 2.5px;
  height: 30px;
  margin-right: 20px;
}










  
.home-container__content {
  width: 1200px;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--page-padding);
}