.two-columns {
    width: 100%;
    /* min-height: 300px; */

    display: flex;
    flex-direction: row;
}
.column {
    display: relative;
    /* padding-top: calc(var(--page-padding) / 2);
    padding-bottom: calc(var(--page-padding) / 2); */
    /* min-height: 300px; */
}
.column:nth-child(1) {
    padding-right: calc(var(--page-padding) / 2);
}
.column:nth-child(2) {
    padding-left: calc(var(--page-padding) / 2);
}

.class-image {
    position: absolute;
    z-index: -0.5;
    height: 800px;
    width: auto;
}

.two-columns--normal .column {
    flex: 1;
}
.two-columns--lefty .column:nth-child(1) {
    flex: 3;
}
.two-columns--lefty .column:nth-child(2) {
    flex: 2;
}
  