:root {
    --two-columns-padding-middle-per-column: 30px;
}

.two-columns {
    width: 100%;

    display: flex;
    flex-direction: row;
}
.column {
    display: relative;
}
.column:nth-child(1) {
    padding-right: var(--two-columns-padding-middle-per-column);
}
.column:nth-child(2) {
    padding-left: var(--two-columns-padding-middle-per-column);
}

/* If it has half the padding */
.two-columns--half-padding > .column:nth-child(1) {
    padding-right: calc(var(--two-columns-padding-middle-per-column) / 2) !important;
}
.two-columns--half-padding > .column:nth-child(2) {
    padding-left: calc(var(--two-columns-padding-middle-per-column) / 2) !important;
}
.two-columns--quarter-padding > .column:nth-child(1) {
    padding-right: calc(var(--two-columns-padding-middle-per-column) / 4) !important;
}
.two-columns--quarter-padding > .column:nth-child(2) {
    padding-left: calc(var(--two-columns-padding-middle-per-column) / 4) !important;
}

.class-image {
    position: absolute;
    z-index: 0;
}

.two-columns--normal > .column {
    flex: 1;
}
.two-columns--lefty > .column:nth-child(1) {
    flex: 3;
}
.two-columns--lefty > .column:nth-child(2) {
    flex: 2;
}
  