.small-stat-container {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}
.small-stat {
    width: auto;
    display: inline-flex;   /* Does not take parent width and rescales with content size */
}
.small-stat--column { flex-direction: column; }
.small-stat--row    { flex-direction: row; }

.small-stat--normal { border: solid var(--darker-color) 2px; }
.small-stat--blue   { border: solid var(--darker-blue) 2px; }
.small-stat__name--normal { background-color: var(--dark-color); }
.small-stat__name--blue   { background-color: var(--dark-blue); }


.small-stat div {   /* Affects both __name and __value */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.small-stat__name {
    letter-spacing: 0.10rem;
    font-family: TitleFont;
    color: white;

}
.small-stat__value {
    margin: 0px;
    background-color: white;
    color: var(--dark-color);
    font-size: 1.35rem;
    line-height: 1.75rem;
}

/* For List variant of SmallStat */
.small-stat__value--list {
    padding: 0px !important;
    padding-left: 0px !important;   /* For clarity */
    padding-right: 0px !important;  /* For clarity */
}
.small-stat__value--list div {
    padding-top: 6px;
    padding-bottom: 6px;
}
.small-stat__value--list--normal div { border-top: solid var(--darker-color) 2px; }
.small-stat__value--list--normal div:first-child { border-top: none; }
.small-stat__value--list--blue div { border-top: solid var(--dark-blue) 2px; }
.small-stat__value--list--blue div:first-child { border-top: none; }