
.dialog {
    z-index: var(--z-popup);
    
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0px;
    left: 0px;

    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.5);
}

.dialog-card {
    width: 70vw;
    padding: 2rem;

    border-radius: 1rem;
    background-color: white;
}