

:root {
    --a4-width: 210mm;
    --a4-height: 297mm;
    
    --bleed: 3mm;
    --pdf-page-with-bleed-width: calc(var(--a4-width) + 2 * var(--bleed));
    --pdf-page-with-bleed-height: calc(var(--a4-height) + 2 * var(--bleed));

    --pdf-margin-top: 18mm;
    --pdf-margin-bottom: 22mm;
    --pdf-margin-left: 18mm;
    --pdf-margin-right: 18mm;
    
    --pdf-column-width: calc(var(--a4-width) - var(--pdf-margin-left) - var(--pdf-margin-right));
    --pdf-column-gap: 9mm;

    --pdf-h1-size: 32pt;
    --pdf-h2-size: 19pt;
    --pdf-h3-size: 14pt;
    --pdf-p-size: 10.5pt;
    --pdf-p-line-height: 14pt;
    --pdf-p-spacing: 5pt;
    --pdf-caption-size: 11pt;
}

#PDF {

}

.pdf-page-with-bleed {
    width: var(--pdf-page-with-bleed-width);
    height: var(--pdf-page-with-bleed-height);
    padding: var(--bleed);

    background-color: white;
    outline: solid 1px black;   /* Outline does not affect margins or sizes */
}
.pdf-page {
    width: var(--a4-width);
    height: var(--a4-height);
    padding-top: var(--pdf-margin-top);
    padding-bottom: var(--pdf-margin-bottom);
    padding-left: var(--pdf-margin-left);
    padding-right: var(--pdf-margin-right);

    background-color: white;
    outline: solid 1px #FF000044;   /* Outline does not affect margins or sizes */
}