

:root {
    --page-width: 215.9mm;
    --page-height: 279.4mm;

    --bleed: 3mm;

    /* Margins */
    --pdf-margin-top: 16mm;
    --pdf-margin-bottom: 22mm;
    --pdf-margin-left: 18mm;
    --pdf-margin-right: 18mm;

    /* Typography */
    --pdf-h1-size: 32pt;
    --pdf-h2-size: 19pt;
    --pdf-h2-pdf-size: 21pt;    /* Between Grim Hollow and Draw Steel */
    --pdf-h3-size: 14pt;
    --pdf-h3-pdf-size: 18pt;    /* Similar to Grim Hollow */
    --pdf-h4-size: 12pt;
    --pdf-p-size: 10.5pt;
    --pdf-p-line-height: 14pt;
    --pdf-p-spacing: 5pt;
    --pdf-caption-size: 11pt;
    --pdf-page-number-size: 9pt;

    --pdf-page-number-bottom: 12mm;
    --pdf-column-gap: 6mm;  /* More similar to Daggerheart/Vaesen/Grim Hollow */
    --pdf-h3-margin-top: 6mm;

    --pdf-column-width: calc(var(--page-width) - var(--pdf-margin-left) - var(--pdf-margin-right));

    --pdf-page-width: calc(var(--page-width) + 2 * var(--bleed));
    --pdf-page-height: calc(var(--page-height) + 2 * var(--bleed));
}
.pdf-title-font {
    font-family: SourceSans;
    font-weight: normal !important;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}
#PDF {
    font-family: PDFFont;
}
#PDF .text-font {
    font-family: PDFFont;
}
/* .pdf-title-font {
    font-family: HomeFontBold;
    font-weight: normal !important;
    letter-spacing: 0.03em;
    font-variant: small-caps;
} */
* + .pdf-section {
    margin-top: calc(var(--p-size) * 1.5);
}

@media print {

    @page {
        size: var(--pdf-page-width) var(--pdf-page-height);
        margin: 0;
    }

    body * {
        visibility: hidden !important;
    }
    #Window-Content {
        padding-top: 0;
    }
    #PDF, #PDF * {
        visibility: visible !important;
    }
    #PDF {
        position: static;
        left: 0;
        top: 0;
    }
    .pdf-page {
        break-after: page;
        page-break-after: always;
        break-inside: avoid;
        page-break-inside: avoid;
    }
    .pdf-page:last-child {
        break-after: auto;
        page-break-after: auto;
    }
}


.pdf-page {
    width: var(--pdf-page-width);
    height: var(--pdf-page-height);
    padding: var(--bleed);
    overflow: hidden;

    background-color: white;
    outline: solid 1px black;   /* Outline does not affect margins or sizes */

    position: relative;           /* Required to work with printing properly */
    
    /* Best so far: A D(requires lightening) F */
    /* background-image: url('Paper\ Texture\ A.png'); */
}
.pdf-page > .pdf-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -99999;
}
#PDF .pdf-page:nth-child(odd) > .pdf-background-image {
    background-image: url('Paper\ Texture\ A.png');
    opacity: 0.5;
}
#PDF .pdf-page:nth-child(even) > .pdf-background-image {
    background-image: url('Paper\ Texture\ A.png');
}

.pdf-page-border-top {
    position: absolute;
    z-index: -88888;
    width: 15%;
    background-size: cover;
    background-image: url('Page\ Border\ Top\ Left.png');
    aspect-ratio: 1/1;
}
#PDF .pdf-page:nth-child(odd) .pdf-page-border-top {
    background-image: url('Page\ Border\ Top\ Left.png');
    top: 3mm;
    left: 3mm;
}
#PDF .pdf-page:nth-child(even) .pdf-page-border-top {
    background-image: url('Page\ Border\ Top\ Right.png');
    top: 3mm;
    right: 3mm;
}


.pdf-trim-box {
    position: relative;
    width: var(--page-width);
    height: var(--page-height);
    padding-top: var(--pdf-margin-top);
    padding-bottom: var(--pdf-margin-bottom);
    padding-left: var(--pdf-margin-left);
    padding-right: var(--pdf-margin-right);
    overflow: hidden;

    z-index: var(--z-content);

    outline: solid 1px #FF000044;   /* Outline does not affect margins or sizes */
}

.pdf-big-title > * {
    max-width: 100%;
}


.pdf-page-number {
    position: absolute;
    width: 100%;
    bottom: var(--pdf-page-number-bottom);
    font-size: var(--pdf-page-number-size);
    text-align: center;
}
.pdf-page-number img {
    --this-width: 50%;
    position: absolute;
    width: var(--this-width);
    left: calc((100% - var(--this-width)) / 2);
    top: calc(var(--pdf-page-number-size) * -1.2);
}