#PDF {
    --h1-size: var(--pdf-h1-size);
    --h2-pdf-size: var(--pdf-h2-pdf-size);
    --h2-size: var(--pdf-h2-size);
    --h3-size: var(--pdf-h3-size);
    --h3-pdf-size: var(--pdf-h3-pdf-size);
    --h4-size: var(--pdf-h4-size);
    --p-size: var(--pdf-p-size);
    --text-size: var(--pdf-p-size);

    --separator-offset-top: 0px;

    --h2-graphic-left: -30pt;
    --h2-graphic-bottom: -34pt;
    --h2-graphic-height: calc(var(--h2-pdf-size) * 3.75);

    --element-padding: calc(var(--p-size) * 2);
    --element-padding-half: calc(var(--p-size) * 2);

    --inline-icon-size: var(--p-size);
}

#PDF p {
    line-height: 1.3em;
}

#PDF .spell {
    --spell-padding: calc(6pt);
    --spell-top-stats-gap: calc(var(--p-size) * 0.5);
}


#PDF .padded {
  padding: calc(var(--pdf-p-size) * 1.5);
}
#PDF .space-top {
  padding-top: calc(var(--pdf-p-size) * 5);
}
#PDF .margin-top-0 {
  margin-top: 0pt;
}
#PDF .margin-top-half {
  margin-top: calc(var(--pdf-p-size) * 0.5);
}
#PDF .margin-top-quarter {
  margin-top: calc(var(--pdf-p-size) * 0.75);
}
#PDF .margin-top-3q {
  margin-top: calc(var(--pdf-p-size) * 0.75);
}
#PDF .margin-top-1 {
  margin-top: var(--pdf-p-size);
}
#PDF .margin-top-2 {
  margin-top: calc(var(--pdf-p-size) * 2);
}
#PDF .margin-top-3 {
  margin-top: calc(var(--pdf-p-size) * 3);
}
#PDF .margin-top-4 {
  margin-top: calc(var(--pdf-p-size) * 4);
}
#PDF .margin-bottom-0 {
  margin-bottom: 0pt;
}
#PDF .margin-bottom-half {
  margin-bottom: calc(var(--pdf-p-size) * 0.5);
}
#PDF .margin-bottom-1 {
  margin-bottom: var(--pdf-p-size);
}
#PDF .margin-bottom-2 {
  margin-bottom: calc(var(--pdf-p-size) * 2);
}
#PDF .margin-bottom-4 {
  margin-bottom: calc(var(--pdf-p-size) * 4);
}

#PDF .padding-half {
  padding: calc(var(--pdf-p-size) * 0.5);
}
#PDF .padding-quarter {
  padding: calc(var(--pdf-p-size) * 0.25);
}
#PDF .padding-3q {
  padding: calc(var(--pdf-p-size) * 0.75);
}
#PDF .padding-1 {
  padding: var(--pdf-p-size);
}
#PDF .padding-2 {
  padding: calc(var(--pdf-p-size) * 2);
}
#PDF .padding-3 {
  padding: calc(var(--pdf-p-size) * 3);
}
#PDF .padding-4 {
  padding: calc(var(--pdf-p-size) * 4);
}
#PDF .padding-bottom-half {
  padding-bottom: calc(var(--pdf-p-size) * 0.5);
}
#PDF .padding-bottom-quarter {
  padding-bottom: calc(var(--pdf-p-size) * 0.25);
}
#PDF .padding-bottom-3q {
  padding-bottom: calc(var(--pdf-p-size) * 0.75);
}
#PDF .padding-bottom-1 {
  padding-bottom: var(--pdf-p-size);
}
#PDF .padding-bottom-2 {
  padding-bottom: calc(var(--pdf-p-size) * 2);
}
#PDF .padding-bottom-3 {
  padding-bottom: calc(var(--pdf-p-size) * 3);
}
#PDF .padding-bottom-4 {
  padding-bottom: calc(var(--pdf-p-size) * 4);
}
#PDF .padding-top-quarter {
  padding-top: calc(var(--pdf-p-size) * 0.25);
}
#PDF .padding-top-half {
  padding-top: calc(var(--pdf-p-size) * 0.5);
}
#PDF .padding-top-3q {
  padding-top: calc(var(--pdf-p-size) * 0.75);
}
#PDF .padding-top-1 {
  padding-top: var(--pdf-p-size);
}
#PDF .padding-top-2 {
  padding-top: calc(var(--pdf-p-size) * 2);
}
#PDF .padding-top-3 {
  padding-top: calc(var(--pdf-p-size) * 3);
}
#PDF .padding-top-4 {
  padding-top: calc(var(--pdf-p-size) * 4);
}
#PDF .gap-quarter {
  gap: calc(var(--pdf-p-size) * 0.25);
}
#PDF .gap-half {
  gap: calc(var(--pdf-p-size) * 0.5);
}
#PDF .gap-3q {
  gap: calc(var(--pdf-p-size) * 0.75);
}
#PDF .gap-1 {
  gap: var(--pdf-p-size);
}
#PDF .column-gap-quarter {
  column-gap: calc(var(--pdf-p-size) * 0.25);
}
#PDF .column-gap-half {
  column-gap: calc(var(--pdf-p-size) * 0.5);
}
#PDF .column-gap-3q {
  column-gap: calc(var(--pdf-p-size) * 0.75);
}
#PDF .column-gap-1 {
  column-gap: var(--pdf-p-size);
}
#PDF .row-gap-quarter {
  row-gap: calc(var(--pdf-p-size) * 0.25);
}
#PDF .row-gap-half {
  row-gap: calc(var(--pdf-p-size) * 0.5);
}
#PDF .row-gap-3q {
  row-gap: calc(var(--pdf-p-size) * 0.75);
}
#PDF .row-gap-1 {
  row-gap: var(--pdf-p-size);
}
#PDF .top-0 {
  top: 0pt;
}
#PDF .left-0 {
  left: 0pt;
}
#PDF .right-0 {
  right: 0pt;
}
#PDF .bottom-0 {
  bottom: 0pt;
}

#PDF .flex-content {
  gap: var(--pdf-p-size);
}


.rounded {
  border-radius: calc(var(--pdf-p-size) * 0.75);
}
.rounded-left {
  border-top-left-radius: calc(var(--pdf-p-size) * 0.75);
  border-bottom-left-radius:calc(var(--pdf-p-size) * 0.75);
}

.tag {
  font-size: calc(var(--p-size) * 0.75);
  padding: 2pt;
  padding-left: calc(var(--pdf-p-size) * 0.5);
  padding-right: calc(var(--pdf-p-size) * 0.5);
  border-radius: calc(var(--pdf-p-size) * 0.25) !important;
}