:root {
    --hero-button-base-width: 1069px;
    --hero-button-base-height: 104px;
    --hero-button-aspect-ratio: 1069/104;
}


.hero-button {
    position: relative;
    width: 100%;
    aspect-ratio: 1069/104;

    background-image: url('./Hero-Buton-Background.png');
    background-position: center;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: background-size 0.1s ease-out 50ms;
}
.hero-button:has(a:hover) {
    background-size: 102.5% 100%;
    cursor: pointer;
}

.hero-button > a {
    font-family: HomeFont;
    font-size: var(--home-text-size);
    text-align: center;
    color: var(--dark-color);

    pointer-events: auto;   /* for hover effect */
}

