:root {
    --page-max-width: 1100px;
    --page-min-width: 1010px;
    --page-border-width: 49px;
    --page-padding: 80px;

    --page-content-width: calc(0.85 * var(--page-max-width));
}
@media (orientation: portrait) {
    :root {
        --page-content-width: 86vw;
    }
}

.page {
    width: 100%;

    padding-top: var(--nav-height);

    background-color: white;
}

.page--has-background {
    background-image: url('./Images/paper-texture-page-desaturated.png');
    background-repeat: repeat;
    background-size: 90%;
}

.page-content {
    padding-top: 0px;
    width: var(--page-content-width);
    margin-left: calc(var(--content-left) + var(--side-menu-width) + var(--side-menu-pad-right));
    padding-bottom: 100px;
}
@media (max-width: 1435px) {    
    .page-content {
        margin-left: calc(var(--side-menu-left) + var(--side-menu-width) + var(--side-menu-pad-right));
    }
}
@media (max-width: 1280px) {
    .page-content {
        margin: auto;   /* Side menu is hidden as well */
    }
}
.page-subtitle {
    margin-top: 25px !important;
    width: 40%;
    margin: auto;
    text-align: center;

    font-style: italic;
    font-size: 1.1em;
    letter-spacing: 0em;
    color: var(--medium-color);
}