
:root {
    --h2-graphic-left: calc(var(--p-size) * -3);
    --h2-graphic-bottom: calc(var(--p-size) * -3.25);
    --h2-graphic-height: calc(var(--h2-pdf-size) * 3.75);
}


.page-h2-pdf {
    margin-bottom: 16pt;

    position: relative;
    z-index: 1;

    width: 100%;

    padding: 2px;
}
* + .page-h2-pdf {
    margin-top: var(--p-size);
}

.page-h2-pdf h2 {
    /* font-family: var(--title-font); */
    /* font-weight: 300; */
    font-size: var(--h2-pdf-size);
    text-align: left;
    color: var(--theme-color-darker);
    
    padding: 0px;
    margin: 0px;
}

.page-h2-graphic {
    position: absolute;
    left: var(--h2-graphic-left);
    bottom: var(--h2-graphic-bottom);
    height: var(--h2-graphic-height);
}
