:root {
    --page-h2-margin-left: calc(
        1px
        + 2px
        + 0.5rem
    )
}

.page-h2 {
    margin-top: calc(var(--element-padding) * 2);
    margin-bottom: var(--element-padding);

    position: relative;
    z-index: 1;

    width: 100%;

    padding: 2px;
    border: solid black 1px;
}
.page-h2.with-margin {
    margin-left: calc(var(--page-h2-margin-left) * -1);
    width: calc(var(--page-h2-margin-left) + 100%);
}

/* .page-h2 h2 {
    margin: 0px;
    font-weight: bold;
    font-size: var(--h2-size);
    font-family: HomeFont;
    color: var(--theme-color-1-darkest);
} */

.page-h2 h2 {
    width: 100%;
    background-color: var(--dark-gray-color);
    color: white;
    font-family: HomeFont;
    font-weight: normal;
    padding: 0.5rem;
    margin: 0px;
}
.page-h2--underline {
    width: 55%;
    height: 0.65vh;
    background: var(--theme-color-1-dark);
    background: linear-gradient(90deg, var(--theme-color-1-darkest) 0%, var(--theme-color-1-darkest) 70%, rgba(255,0,0,0) 100%);
}

@media (orientation: portrait), (max-width: 900px)  {
    .page-h2--underline {
        height: 0.75vh;
    }
}