.selector {
    --height: var(--spoiler-height) !important;
    --title-padding: 1.5rem;
    --image-size: min(calc(var(--h3-size) + var(--title-padding)), var(--spoiler-height));
    
    height: var(--height);
    line-height: calc(var(--height) - 2 * var(--title-padding));
    font-size: var(--h3-size);
    font-family: HomeFont;
}


.selector .icon-wrapper {
    padding: calc((var(--height) - var(--image-size)) / 2);
    padding-right: 0px;
}
.selector .icon-wrapper .icon-border {
    height: var(--image-size);
    border: solid black 1px;
    border-radius: 2px;
    padding: 1px;
}
.selector .icon-wrapper .icon-border img {
    height: 100%;   /* Take all available space from the border which has a height defined */
    border-radius: 2px;
}


.selector .name-wrapper {
    padding: var(--title-padding);
    padding-left: 1rem;
}