:root {
    --selector-height: var(--spoiler-height) !important;
    --selector-title-padding: 1.5rem;
    --selector-image-size: min(calc(var(--h3-size) + var(--selector-title-padding)), var(--spoiler-height));
}

.selector {    
    height: var(--selector-height);
    line-height: calc(var(--selector-height) - 2 * var(--selector-title-padding));
    font-size: var(--h3-size);
    font-family: HomeFont;
}


.selector .icon-wrapper {
    padding: calc((var(--selector-height) - var(--selector-image-size)) / 2);
    padding-right: 0px;
}
.selector .icon-wrapper .icon-border {
    height: var(--selector-image-size);
    border: solid black 1px;
    border-radius: 2px;
    padding: 1px;
}
.selector .icon-wrapper .icon-border img {
    height: 100%;   /* Take all available space from the border which has a height defined */
    border-radius: 2px;
}


.selector .name-wrapper {
    padding: var(--selector-title-padding);
    padding-left: 1rem;
}