
.parchment-page {
    width: 589px;
    height: 808px;
    background-image: url(ParchmentTexture.png);
    padding: 50px;
    overflow: visible;
}
.parchment-page p {
    font-size: 32px;
    font-family: ScriptFont;
}