.landscape-only {
    display: block;
}
.portrait-only {
    display: none;
}

@media (orientation: portrait) {
    .landscape-only {
        display: none;
    }
    .portrait-only {
        display: block;
    }
}



.class-image {
    position: absolute;
    z-index: 0;

    top: -20%;
    height: 125%;   /* 125% of container */
}
.class-image-portrait {
    width: 80%;
    margin: auto;
    display: block;
}