
.class-image.type-a {
    position: absolute;
    z-index: 0;

    top: -22%;
    left: 0%;
    width: 100%;
}
.class-image.type-b {
    width: 100%;
}
.class-image-portrait {
    width: 80%;
    margin: auto;
    display: block;
}