
.class-image.type-a {
    position: absolute;
    z-index: 0;

    top: -15%;
    left: -10%;
    height: 120%;
}
.class-image.type-b {
    width: 100%;
}
.class-image-portrait {
    width: 80%;
    margin: auto;
    display: block;
}