
.list-item-custom {
    list-style: none;
    position: relative;
}
.list-item-custom::before {
    position: absolute;

    width: calc(var(--p-size) * 1.25);
    height: calc(var(--p-size) * 1.25);

    left: calc(var(--p-size) * -1.57);
    top: calc(var(--p-size) * 0.1);

    content: "";
    background-image: url(../../../public/Icons/UI/BulletPoint3.png);
    background-size: contain;
    background-repeat: no-repeat;
}