.hero-slide {
    background-color: transparent;
    max-width: 100%;
    height: calc(var(--hero-page-height) * 0.66);
}

@media (orientation: portrait) {
    .hero-slide {
        height: unset;
    }
}