.page-h0 {
    width: 100%;
    position: relative;
    z-index: 1;

    display: flex;

    margin-top: calc(var(--page-padding) * 1.5);
    margin-bottom: calc(var(--page-padding) * 0.35);    /* So there will be an extra 1.35 of --page-padding between the title and the page content */
}

.page-h0 .title-text-wrapper {
    line-height: 0.9em;
    font-size: 4em;
    letter-spacing: 0.025em;
    font-weight: 150;

    color: var(--dark-color);

    
    text-align: center;
}
.page-h0__img-container {
    flex: 1 1 auto;
}
.page-h0__img-container img {
    aspect-ratio: initial;
    /* transform: scale(0.75); */
    margin-top: calc((4em / 2) * 0.9 - 8px);
}
.page-h0__img-left {
    display: block;
    margin-left: auto;
    margin-right: 25px;
}
.page-h0__img-right {
    display: block;
    margin-right: auto;
    margin-left: 25px;
}

.page-h0__img--2-lines {
    margin-top: calc((4em / 2) * 2 * 0.9 - 8px) !important;
}
