.auto-complete-list {
    position: absolute;
    width: 300px;
    max-height: 300px;
    z-index: 999999;
    background-color: white;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
}
.auto-complete-list li {
    text-decoration: none;
    margin-left: 0px;
    border: solid black 1px;
    list-style-type: none;
}
.auto-complete-list li:hover {
    cursor: pointer;
    background-color: rgb(255, 213, 134);
}

.auto-complete-list--hidden {
    display: none;
}

.auto-complete-list--highlighted {
    background-color: orange;
}